* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-12 {
  width: 100%;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header{
  padding: 20px 0;
}
.header-logo {
  width: 200px;
  height: 65px;
  margin-right: 70px;
}
.header-logo img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
}
.header-menu {
  display: flex;
  gap: 30px;
}
.header-menu li a {
  font-size: 16px;
  color: black;
  font-weight: bold;

}
.header-menu li a:hover{
  text-decoration: underline;
}
.justify-content-center {
  justify-content: center;
}
.header-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}
.header-reg,
.header-contact-phone{
  font-size: 16px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.header-reg:hover{
  color: rgb(23, 23, 198);
  text-decoration: underline;
}
.header-contact-phone img{
  margin-right: 10px;
}
.breadcrams{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.breadcrams-menu{
  display: flex;
}

.breadcrams-menu li a{
  font-size: 16px;
  color: black;
  font-weight: normal;
  cursor: pointer;
}
.breadcrams-menu .bold{
  font-weight: bold;
}
.breadcrams-menu li a:hover{
  color: rgb(23, 23, 198);
  text-decoration: underline;
}
.search{
  margin-left: auto;
  width: 400px;
  padding: 10px 30px;
  border: 1px solid rgb(143, 128, 128);
  border-radius: 8px;
}
.search .searchinput{
  width: 350px;
  border: unset;
  outline: unset;
}
.menu{

}
.menu-img{
  padding: 10px;
  padding-left: 0;
  width: 100%;
  height: 500px;
}
.menu-img img{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  background-position: center;
}
.menu-img.small{
  position: relative;
  height: 350px;
  padding: 15px;
  margin-top: 30px;
}
.menu-img.pl{
  padding-left: 0;
}
.menu-img.pr{
  padding-right: 0;
}

.menu-box{
  padding: 100px 30px;
  padding-right: 0;
}
.menu-box-title{
  font-size: 40px;
  margin-bottom: 20px;
}
.menu-box-text{
  font-size: 18px;
  margin-bottom: 20px;
}
.menu-img-text{
  position: absolute;
  bottom: 0px;
  z-index: 1;
  padding: 40px 20px;
  color: aliceblue;
  display: none;
}
.menu-img:hover .menu-img-text{
  display: block;
}
.mt-60{
  margin-top: 60px;
}
.text{
  margin-top: 70px;

}
.text-box{
  padding-right: 40px;
  padding-top: 20px;
  line-height: 24px;
}
.text-box p{
  font-size: 16px;
  color: #000;
}


.footer {
  margin-bottom: 40px;
  margin-top: 80px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  width: 21.5%;
}
.footer-menu.big {
  width: 35%;
  padding-left: 80px;
}
.footer-menu-social {
  display: flex;
  gap: 20px;
}
.footer-menu-social img {
  cursor: pointer;
}
.footer-menu-social img:hover {
  transform: scale(1.1);
}
.footer-menu-phone a {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #3A3A3A;
  margin-top: 20px;
  text-decoration: none;
}
.footer-menu-title {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #3A3A3A;
  margin-bottom: 40px;
}
.footer-menu-title.small {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0px;
}
.footer-menu-title.small a {
  color: #3A3A3A;
  text-decoration: none;
}
.footer-menu-text {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #BABABA;
  margin-top: 40px;
}
.footer-menu-text.small {
  font-size: 12px;
  margin-top: 5px;
}
.footer-menu ul li {
  list-style-type: none;
  position: relative;
}
.footer-menu ul li img {
  background: #BABABA;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: -15px;
  margin-left: 10px;
}
.footer-menu ul li img:hover {
  background: #a1a1a1;
}
.footer-menu ul li label {
  background: #F5F5F5;
  border-radius: 5px;
  padding: 15px 10px;
}
.footer-menu ul li label input {
  width: 232px;
  border: unset;
  outline: unset;
  background-color: unset;
}
.footer-menu ul li span,
.footer-menu ul li a {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3A3A3A;
  margin-bottom: 20px;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
  text-decoration: underline;
}
.cursor-pointer:hover svg,
.cursor-pointer:hover img {
  stroke: #ff6666;
}